<header class="main">
    <div class="headerContentsWrapper">
        <hgroup>
            <h1>
                <a class="logo" href="/FlipEuro/view/">
                    CasinoEuro - Europe's favorite online casino
                </a>
            </h1>

            <h2 class="slogan">
                CasinoEuro - Online Casino
            </h2>
        </hgroup>

        <!-- Start Login/Registration Module -->
        <div class="accountBox">
            <br><br>
            <!-- Include login box module -->
            #parse("login.html")
            <nav>
                <ul>
                    <li class="openAccount"><a href="/register/">New to FlipEuro? Sign up now</a></li>
                </ul>
                <ul>
                    <li class="openAccount"><a href="/logout/">| Logout</a></li>
                </ul>
            </nav>
        </div>
        <!-- End Login/Registration Module -->
    </div>
</header>