<!-- Start login box module -->
<div class="bg-span">
    <div id="mainLogin" class="loginBox">
        <!-- Login control start-->
        <form id="loginForm" name="loginForm" action="json/login/" method="post" autocomplete="on">
            <fieldset>
                <input type="text" id="username" name="username" placeholder="Username" class="placeholder">
                <input type="password" id="password" placeholder="Password" name="password">

                <button class="commonBlue-button" type="submit">
                    <span>Login</span>
                </button>
            </fieldset>
        </form>
        <!-- Login control end-->
    </div>
    <div id="loginMessage"></div>
</div>
