<div class="menuContainer">
    <div class="menu">
        <!-- Start main menu module -->
        <nav class="main">
            <ul class="nav-level-1">

                <!-- Show link to home as a top level menu item if we have requested one -->

                <li class=" hover">
                    <a href="/FlipEuro/view" title="">
                        <cufon class="cufon cufon-canvas" alt="Home" style="width: 38px; height: 12px;">
                            <canvas width="48" height="19"
                                    style="width: 48px; height: 19px; top: -4px; left: -1px;"></canvas>
                            <cufontext>Home</cufontext>
                        </cufon>
                    </a>
                </li>

                <li class="active hover">
                    <a id="registerMenuLink" href="#" title="">
                        <cufon class="cufon cufon-canvas" alt="Register" style="width: 54px; height: 12px;">
                            <canvas width="64" height="19"
                                    style="width: 64px; height: 19px; top: -4px; left: -1px;"></canvas>
                            <cufontext>Register</cufontext>
                        </cufon>
                    </a>

                </li>

                <li class=" hover">
                    <a id="depositMenuLink" href="#" title="">
                        <cufon class="cufon cufon-canvas" alt="Payment Options" style="width: 114px; height: 12px;">
                            <canvas width="64" height="19"
                                    style="width: 64px; height: 19px; top: -4px; left: -1px;"></canvas>
                            <cufontext>Deposit</cufontext>
                        </cufon>
                    </a>
                </li>

                <li class=" hover">
                    <a id="casinoGamesMenuLink" href="#" title="">
                        <cufon class="cufon cufon-canvas" alt="Casino Games" style="width: 98px; height: 12px;">
                            <canvas width="108" height="19"
                                    style="width: 108px; height: 19px; top: -4px; left: -1px;"></canvas>
                            <cufontext>Casino Games</cufontext>
                        </cufon>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>
<!-- End main menu module -->


<!-- End language selector module -->
</nav>
</div>
</div>
</div>