<script>
    jQuery('#registrationForm').submit(function () {
        jQuery.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: this.action,
            data: JSON.stringify(jQuery('#registrationForm').serializeObject()),
            success: function (response) {
                if (response.data.successful) {
                    jQuery('#dashboard').html('<br><br><span>Registeration successfull! Dear ' + response.data.username + ' , welcome to FlipEuro casino. Please start by depositing some funds into your account.</span>');
                } else {
                    jQuery('#dashboard').html('<br><br><span>Registration Error. Please try again.</span>');
                }

            },
            error: function () {
                jQuery('#loginMessage').html('<span>An error has occured.</span>');
            }
        });
        return false;
    });

</script>
<article class="general content-page">

<header class="page">
</header>

<div class="body ">
<div class="content-container">
<div class="content">
<section class="intro regIntro">

    <h2>

        <cufon class="cufon cufon-canvas" alt="Registration " style="width: 200px; height: 18px;">
            <canvas width="1" height="25" style="width: 1px; height: 25px; top: -6px; left: -2px;"></canvas>
            <cufontext>Registration is FREE and only takes minutes</cufontext>
        </cufon>
        <!--
        <cufon class="cufon cufon-canvas" alt="is " style="width: 18px; height: 18px;">
            <canvas width="35" height="25" style="width: 35px; height: 25px; top: -6px; left: -2px;"></canvas>
            <cufontext>is </cufontext>
        </cufon>
        <cufon class="cufon cufon-canvas" alt="FREE " style="width: 45px; height: 18px;">
        <canvas width="62" height="25" style="width: 62px; height: 25px; top: -6px; left: -2px;"></canvas>
        <cufontext>FREE </cufontext>
        </cufon>
        <cufon class="cufon cufon-canvas" alt="and " style="width: 41px; height: 18px;">
        <canvas width="59" height="25" style="width: 59px; height: 25px; top: -6px; left: -2px;">
        </canvas>
        <cufontext>and </cufontext>
        </cufon>
        <cufon class="cufon cufon-canvas" alt="only " style="width: 44px; height: 18px;">
        <canvas width="61" height="25" style="width: 61px; height: 25px; top: -6px; left: -2px;"></canvas>
        <cufontext>only </cufontext></cufon><cufon class="cufon cufon-canvas" alt="takes " style="width: 54px; height: 18px;">
        <canvas width="71" height="25" style="width: 71px; height: 25px; top: -6px; left: -2px;"></canvas>
        <cufontext>takes </cufontext></cufon><cufon class="cufon cufon-canvas" alt="2 " style="width: 16px; height: 18px;">
        <canvas width="33" height="25" style="width: 33px; height: 25px; top: -6px; left: -2px;"></canvas>
        <cufontext>2 </cufontext></cufon><cufon class="cufon cufon-canvas" alt="minutes." style="width: 76px; height: 18px;">
        <canvas width="93" height="25" style="width: 93px; height: 25px; top: -6px; left: -2px;"></canvas>
        <cufontext>minutes.</cufontext></cufon>-->
    </h2>
    <div class="extraDiv regIntroExtraDiv"></div>

</section>
<form id="registrationForm" action="json/register" method="post">
    <div class="form-error" style="display: none"></div>

    <section class="fieldset">
        <h3 class="section marginBottom noTopMargin">
            <cufon class="cufon cufon-canvas" alt="1. " style="width: 15px; height: 12px;">
                <canvas width="10" height="17" style="width: 10px; height: 17px; top: -4px; left: -1px;">
                </canvas>
                <cufontext>1.</cufontext>
            </cufon>
            <cufon class="cufon cufon-canvas" alt="Register " style="width: 52px; height: 12px;">
                <canvas width="200" height="17" style="width: 20px; height: 17px; top: -4px; left: -1px;"></canvas>
                <cufontext>Register your FREE account</cufontext>
            </cufon>
        </h3>
        <div id="registrationForm_userName-field"
             class="form-field-wrapper clearfix   &nbsp;                                                                                    validate">
            <label for="registrationForm_username">
                Username
            </label>

            <span class="icon info tooltip" title="">i</span>

            <div class="form-field  &nbsp; text">
                <input type="text" class="validate-field" name="username" id="registrationForm_userName" value=""
                       maxlength="16" placeholder="" tabindex="1">
                <span class="validation-indicator"></span>
            </div>
        </div>

        <div id="registrationForm_password1-field"
             class="form-field-wrapper clearfix   &nbsp;                                                                                    validate">

            <label for="registrationForm_password1">
                Password
            </label>

            <span class="icon info tooltip" title="">i</span>

            <div class="form-field  &nbsp; password">
                <input type="password" class="validate-field" name="password1" id="registrationForm_password1" value=""
                       maxlength="16" placeholder="" tabindex="2">
                <span class="validation-indicator"></span>
            </div>
        </div>

        <div id="registrationForm_password2-field" class="form-field-wrapper clearfix   &nbsp; validate">
            <label for="registrationForm_password2">
                Repeat password
            </label>

            <span class="icon info tooltip" title="">i</span>

            <div class="form-field  &nbsp; password">
                <input type="password" class="validate-field" name="password2" id="registrationForm_password2" value=""
                       maxlength="16" placeholder="" tabindex="3">
                <span class="validation-indicator"></span>
            </div>
        </div>

        <div class="password-strength" style="display: none;">
            <div id="reg-passwordStrength" class="form-field-wrapper">
                <label for="passwordStrength">Password strength</label>

                <div class="form-field">
                    <span class="strength-strong">Strong</span>
                    <span class="strength-medium">Medium</span>
                    <span class="strength-weak">Weak</span>
                </div>
            </div>
        </div>

    </section>
    <section>
        <h3 class="section marginBottom marginTop">
            <cufon class="cufon cufon-canvas" alt="2. " style="width: 15px; height: 12px;">
                <canvas width="10" height="17" style="width: 10px; height: 17px; top: -4px; left: -1px;"></canvas>
                <cufontext>2.</cufontext>
            </cufon>
            <cufon class="cufon cufon-canvas" alt="Provide " style="width: 50px; height: 12px;">
                <canvas width="200" height="17" style="width: 10px; height: 17px; top: -4px; left: -1px;"></canvas>
                <cufontext>Provide your personal information</cufontext>
            </cufon>
            <cufon class="cufon cufon-canvas" alt="your " style="width: 200px; height: 12px;">
        </h3>

        <div id="registrationForm_firstName-field" class="form-field-wrapper clearfix   &nbsp; validate">
            <label for="registrationForm_firstName">
                First name
            </label>

            <div class="form-field  &nbsp; text">
                <input type="text" class="validate-field" name="firstName" id="registrationForm_firstName" value=""
                       maxlength="20" placeholder="" tabindex="4">
                <span class="validation-indicator"></span>
            </div>
        </div>

        <div id="registrationForm_lastName-field" class="form-field-wrapper clearfix   &nbsp; validate">
            <label for="registrationForm_lastName">
                Last name
            </label>

            <div class="form-field  &nbsp; text">
                <input type="text" class="validate-field" name="lastName" id="registrationForm_lastName" value=""
                       maxlength="20" placeholder="" tabindex="5">
                <span class="validation-indicator"></span>
            </div>
        </div>


        <div id="registrationForm_birthdate-field" class="form-field-wrapper clearfix   &nbsp;  validate">
            <label>
                Your Birthday
            </label>

            <div class="form-field  &nbsp; past date3">

                <select name="birthdateDay" id="registrationForm_birthdateDay" tabindex="7">
                    <option value="">day</option>
                    <option value="01">1</option>
                </select>

                <select name="birthdateMonth" id="registrationForm_birthdateMonth" tabindex="7">
                    <option value="">month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>

                <select name="birthdateYear" id="registrationForm_birthdateYear" tabindex="7">
                    <option value="">year</option>
                    <option value="1996">1996</option>
                </select>
                </input>
                <span class="validation-indicator"></span>
            </div>
        </div>

        <div id="registrationForm_address-field" class="form-field-wrapper clearfix   &nbsp; validate">
            <label for="registrationForm_address">
                Street
            </label>

            <div class="form-field  &nbsp; text">
                <input type="text" class="validate-field" name="address" id="registrationForm_address" value=""
                       maxlength="90" placeholder="" tabindex="9"/>
                <span class="validation-indicator"></span>
            </div>
        </div>

        <div id="registrationForm_terms-field" class="form-field-wrapper clearfix validate">


            <div class="form-field  &nbsp; ">
                <input type="checkbox" name="terms" id="registrationForm_terms" value="yes" tabindex="16"/>
                <label for="registrationForm_terms">Yes, I certify that I am of the legal age permitted in my country
                    and that I have read and understood the <a href="/en/customersupport/terms-of-use/"
                                                               data-wtname="terms-of-use" target="_blank">terms and
                        conditions</a>.</label>

                <div class="submitContainer" align="center">
                    <button type="submit" class="new-standard-button blue bButton marginTop marginBottom" tabindex="17">
                        <span style="height:5%">REGISTER NOW</span>
                    </button>
                </div>
                <span class="validation-indicator"></span>
            </div>
            <br>

        </div>


    </section>

</form>

</div>
</div>

</div>
<footer>
</footer>
</article>